body,
option {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  line-height: 1.6;
  position: absolute;
  left: 0px;
  width: 100vh;
  top: 0px;
  bottom: 100vh;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

a {
  color: #bb86fc;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-bottom: 1.5rem;
}

button {
  background-color: #3029e0;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  outline: 0;
  font-size: 16px;
  border-radius: 0.3rem;
  display: inline-block;
  text-align: center;
}

button:hover {
  background-color: #2923cf;
}

button:active {
  background-color: #342df0;
}

input,
select,
textarea {
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  border: 1px solid hsl(222, 0%, 25%);
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid hsl(222, 50%, 50%);
  background-color: var(--focused-background-color);
}

.workflowArgumentsForm {
  padding: 30px 40px;
  border-radius: 30;
}

pre {
  font-family: monospace;
  font-size: 8px;
  line-height: 9px;
}
